[graphite]
graphite_host = aplay16.usatlas.bnl.gov
#graphite_host = localhost
pickle_port = 2004
namespace = htcondor

[star]
address = condor02.rcf.bnl.gov:9664
attrs = RealExperiment, Job_Type
groups = rhstar

[phenix]
address = condor01.rcf.bnl.gov:9662
attrs = RealExperiment, Job_Type
groups = rhphenix

[brahms]
address = condor02.rcf.bnl.gov:9661
attrs = CPU_Experiment, RealExperiment
groups = rhbrahms, dayabay, lbne, eic, astro

[atlas]
address = condor03.usatlas.bnl.gov:9660
#attrs = RACF_Group
groups = usatlas

[tier3]
address = condor04.usatlas.bnl.gov:9667
attrs =
groups = usatlas
